input
{
border-radius:50px;
border:0.5px solid #ebecee;
}
input:hover
{
box-shadow:10px 5px 5px white;
}
#sign
{
background-color:blue;
color:white;
padding:5px;
border-radius:10px;
}
ul
{
display:flex;
float:right;
list-style-type:none;
}
li
{
padding:10px;
}

